@import "tailwindcss";

/* This line supports dark mode via class */
@custom-variant dark (&:where(.dark, .dark *));
/* And this adds it via data attribute */
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@theme {
  /* Font size - 16px, aka 1rem, aka standard. */
  --text-base: 1rem;
  --font-sans: var(--font-noto-sans);

  /* Colors */
  /* Neutrals */
  --color-neutral-900: hsl(227, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);

  /* Reds */
  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  /* Gradients: */
  --color-light-from: hsl(215.3, 73.9%, 95.5%);
  --color-light-to: hsl(185.5, 47.8%, 95.5%);
  --color-dark-from: hsl(225, 71.4%, 5.5%);
  --color-dark-to: hsl(226.9, 75.3%, 14.3%);

  /* Now semantics */
  /* General */
  --color-heading: var(--color-neutral-900);
  --color-text: var(--color-neutral-700);
  --color-focus: var(--color-neutral-0);
  --color-border: var(--color-neutral-400);

  /* Background */
  --color-background-from: var(--color-light-from);
  --color-background-to: var(--color-light-to);

  /* Top bar */
  --color-top-bar-bg: var(--color-neutral-0);
  --color-dark-mode-toggle-bg: var(--color-neutral-0);
  --color-dark-mode-toggle-hover-bg: var(--color-neutral-0);

  /* Filters */
  --color-filter-button-bg: var(--color-neutral-0);
  --color-filter-button-border: var(--color-neutral-600);
  --color-filter-button-hover-bg: var(--color-neutral-0);
  --color-filter-button-active-bg: var(--color-neutral-0);
  --color-filter-button-active-hover-bg: var(--color-neutral-0);

  /* Card */
  --color-card-bg: var(--color-neutral-0);
  --color-remove-button-bg: var(--color-neutral-0);
  --color-remove-button-border: var(--color-neutral-500);
  --color-remove-button-hover-bg: var(--color-neutral-0);
  --color-extension-toggle-bg: var(--color-neutral-0);
  --color-extension-toggle-hover-bg: var(--color-neutral-0);
  --color-extension-toggle-active-bg: var(--color-neutral-0);
  --color-extension-toggle-thumb-bg: var(--color-neutral-0);
}

@layer theme {
  .dark {
    --color-background-from: var(--color-dark-from);
    --color-background-to: var(--color-dark-to);
  }
}

* {
  /* @apply outline outline-yellow-300; */
}

body {
  background: var(--background);
  color: var(--color-text);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-size: var(--text-base);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-heading font-bold;
}

.btn {
  @apply border-2 border-white;
}

.btn--active {
  @apply bg-red-200;
}
